* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
hr{
	margin-top: 3rem;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* nav bar */
nav {
	background-color: lightgray;
	width: 100vw;
}
h1 {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 20px 0 0 20px;
	font-family: "Nerko One", cursive;
}

h2 {
	font-family: "Dancing Script", cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
}
/* Container */

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.box {
	flex: 0 1 150px;
	margin-top: 15px;
	margin-bottom: 1rem;
    place-items: center;
	margin: 5px;
}
.box p {
	font-family: "Dancing Script", cursive;
	font-weight: 700;
	font-size: large;
	text-align: center;
	padding-top: 10px;
	color: crimson;
}

img {
	width: 300px;
	height: 300px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	object-fit: cover;
	opacity: 1;
}

/*  form */
.add {
	margin: 2rem;
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(233, 227, 233, 0.068);
}
.add h4 {
	color: rgb(23, 116, 72);
	margin-bottom: 1rem;
	margin-left:-4rem ;
	font-size: x-large;
	font-family: monospace;
}
form {
	background-color: rgb(216, 202, 175);
	margin-bottom: 3rem;
	width: 400px;
    align-items: center;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;

	box-shadow: 0 4px 8px 0 rgba(108, 185, 230, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form li + li {
	margin-top: 2em;
	
	place-items: center;
	
}

label {
	width: 90px;
	text-align: center;
}

input,
textarea {
	font: 1em sans-serif;

	width: 300px;
	box-sizing: border-box;

	border: 1px solid #999;
}

input:focus,
textarea:focus {
	border-color: #000;
}

textarea {
	vertical-align: top;

	height: 5em;
}

.button {
	list-style: none;
	margin-top: 1rem;
	padding-left: 7rem;
}

Button {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color: #77b55a;
	border-radius: 13px;
	border: 1px solid #4b8f29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 10px ;
	text-decoration: none;
	text-shadow: 0px 1px 0px #5b8a3c;
	width: 150px;
	
}

/* footer */
footer {
	width: 100vw;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
}

/* Media Query */
@media only screen and (max-width: 768px) {
	form {
		width: 300px;
        margin-left: -4rem;
		margin-bottom: 10rem;
		text-align: center;
		
	}
	input,
	textarea {
		width: 200px;

		text-align: center;
	}
	.button {
		padding-left: 5px;
	}
	Button {
		padding: 8px 10px;
		color: rgb(243, 226, 226);
	}
	.add {
		height: 600px;
	}
	.add h4 {
		margin-bottom: 3rem;
	}
}
